@font-face {
   font-family: 'bahij';
   src: url('../fonts/bahij-sultannahia/bahij-sultannahia-webfont.woff2') format('woff2'),
      url('../fonts/bahij-sultannahia/bahij-sultannahia-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'chronicapro';
   src: url('../fonts/chronicapro/chronicapro-regular-webfont.woff2') format('woff2'),
      url('../fonts/chronicapro/chronicapro-regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}